<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.css">
        <title>Flipponachi</title>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div id="top" class="ui container">
                <div class="header item"><i class="desktop icon"></i><a href="/">Flipponachi Site</a></div>
                <a href="/" class="item">Home</a>
                <a href="/blog/new" class="item">New Post</a>
            </div>
        </div>
        